[submodule "LLTableBuilderLibrary"]
	path = LLTableBuilderLibrary
	url = https://github.com/Relz/LL-Table-Builder-Library
[submodule "LexerLibrary"]
	path = LexerLibrary
	url = https://github.com/Relz/Lexer-Library
